@import "tailwindcss";

.hero-bg{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1)),url("/assets/hero.png");
}

.letter-shadow-r {
    mask-image: linear-gradient(to right, rgb(1 13 21) 36%, transparent 100%);
}
.text-primary {
    --tw-text-opacity: 1;
    color: var(--fallback-p, rgb(56 189 248));
}